* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.parent {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(80deg, #837B0C, #3F0800);
    box-shadow: 5px 5px 20px black;
    color: aliceblue;
}

.parent nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    height: 15%;
    background-color: rgb(205, 151, 14);
}

nav h1 {
    font-size: 35px;
    font-weight: 600;
    margin-left: 40px;
    color: #3F0800;
    position: relative;
}

nav h1::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: -40px;
}

nav ul {
    display: flex;
    list-style: none; /* usuwa kropki */
}

nav li a {
    text-decoration: none; /* usuwa podkreslenie href */
    padding: 20px;
    text-transform: uppercase;
    font-size: 17px;
    color: aliceblue;
}

.parent .main-content {
    display: flex;
    height: 85%;
}

.main-content .left {
    width: 50%;
    height: 100%;
    padding: 40px 80px;
}